.app{
    height: 100vh;
    width: auto;
    margin: auto;
    text-align: center;
    font-family: 'Cinzel', serif;
    background-color: rgba(186, 161, 196, 0.9);
}

#header{
    font-family: 'Cinzel', serif;
}

#dropdowns{
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

#dropdown{
    font-size: 20px;
}

#mooddisplay{
    font-family: arial;
    margin: auto;
}